@import "nomalize.scss";
@import "variable.scss";
@import "main.scss";
@import "layout.scss";
@import "calendar.scss";
@import "popup.scss";
@import "profile.scss";
@import "detailpopup.scss";
@import "loginPage.scss";
@import "myPage.scss";
@import "usedMarket.scss";
@import "infoPage.scss";

* {
  margin: 0;
}



a {
  transition: .5s;
}

a:hover {
  opacity: .5;
}