

.footer {
  margin: 100px 0 0 0;

  &-bar {
    display: grid;
    align-content: space-between;
    color: white;
    background-color: #2f2e2c;
    height: 200px;

    &-wrap {
      display: flex;
      justify-content: center;
      padding: 20px;

      &-nav {
        &-menu {
          padding: 0 10px;
          border-right: 1px solid white;
        }
      }
    }

    &-info {
      display: flex;
      justify-content: center;
      padding: 20px;

      &-logo {
        display: flex;
        font-weight: bold;
        align-items: center;

        span {
          padding-left: 10px;
        }
      }
    }
  }
}

@include mb() {
  .footer {
    margin: 100px 0 0 0;

    &-bar {
      display: grid;
      align-content: space-between;
      color: white;
      background-color: #2f2e2c;
      height: 140px;

      &-wrap {
        display: flex;
        justify-content: center;
        padding: 10px;

        &-nav {
          span {
            font-size: 12px;
          }

          &-menu {
            padding: 0 10px;
            border-right: 1px solid white;
          }
        }
      }

      &-info {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;

        &-logo {
          display: flex;
          align-items: center;

          svg {
            width: 40px;
          }

          span {
            font-size: 14px;
            padding-left: 10px;
          }
        }
      }
    }
  }
}