// 메인 마켓
.market-box {
  text-align: center;

  .main-market-fir {

    display: inline-block;
    width: 220px;
    height: 300px;
    margin-left: 21px;
    text-align: center;
    margin-right: 21px;
    border-bottom: none;

    .market-img {
      svg {
        margin: 10px;
        float: left;
      }

      border: 1px solid rgba(204, 204, 204, 0.5);
      width: 100%;
      height: 190px;
      background-size: 100% 100%;
      background-image: url("/assets/image/market1.webp");
      border-radius: 0 0 5px 5px;
    }

    .market-content {
      border: 1px solid rgba(204, 204, 204, 0.5);
      display: inline-block;
      border-top: none;
      border-radius: 5px;


      h1 {
        font-size: 15px;
        float: left;
        margin-top: 6px;
        margin-bottom: 6px;
      }

      a {
        font-size: 14px;
        float: left;
        margin-top: 4px;
        margin-bottom: 8px;
      }

      p {
        display: inline-block;
        float: left;
        padding-bottom: 11px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        color: #EA3323;
        font-size: 20px;
        inline-size: -webkit-fill-available;
        text-align: left;
        margin: 13px;
        margin-bottom: 0px;
      }

      span {
        display: inline-block;
        text-align: left;
        color: #818181;
        font-size: 13px;
        float: left;

      }

      .market-day {
        border: none;
        color: #818181;
        font-size: 11px;
        padding: 0;
        margin: 0;

      }

      .market-like {
        border: none;
        color: #818181;
        font-size: 11px;
        padding: 0;
        margin: 13px;
        margin-top: 7px;
        margin-bottom: 7px;


        span {
          float: right;
          padding: 0;
          margin: 3px;
        }

        a {
          margin: 3px;
          font-size: 13px;

        }
      }

    }


  }

  .main-market-sec {

    display: inline-block;
    width: 220px;
    height: 300px;
    margin: 20px;
    text-align: center;

    .market-img {
      svg {
        margin: 10px;
        float: left;
      }

      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border: 1px solid rgba(204, 204, 204, 0.5);
      width: 100%;
      height: 190px;
      background-size: 100% 100%;
      background-image: url("/assets/image/market2.webp");
      border-radius: 5px;
    }

    .market-content {
      border: 1px solid rgba(204, 204, 204, 0.5);
      display: inline-block;
      border-top: none;
      border-radius: 5px;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;

      h1 {
        font-size: 15px;
        float: left;
        margin-top: 6px;
        margin-bottom: 6px;
      }

      a {
        font-size: 14px;
        float: left;
        margin-top: 4px;
        margin-bottom: 8px;
      }

      p {
        display: inline-block;
        float: left;
        padding-bottom: 11px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        display: inline-block;
        color: #EA3323;
        float: left;
        font-size: 20px;
        inline-size: -webkit-fill-available;
        text-align: left;
        margin: 13px;
        margin-bottom: 0px;
      }

      span {
        display: inline-block;
        text-align: left;
        color: #818181;
        font-size: 13px;
        float: left;

      }

      .market-day {
        border: none;
        color: #818181;
        font-size: 11px;
        padding: 0;
        margin: 0;

      }

      .market-like {
        border: none;
        color: #818181;
        font-size: 11px;
        padding: 0;
        margin: 13px;
        margin-top: 7px;
        margin-bottom: 7px;


        span {
          float: right;
          padding: 0;
          margin: 3px;
        }

        a {
          margin: 3px;
          font-size: 13px;

        }
      }

    }


  }

  .main-market-thi {

    display: inline-block;
    width: 220px;
    height: 300px;
    margin-left: 21px;
    text-align: center;
    margin-right: 21px;
    border-bottom: none;

    .market-img {
      svg {
        margin: 10px;
        float: left;
      }

      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border: 1px solid rgba(204, 204, 204, 0.5);
      width: 100%;
      height: 190px;
      background-size: 100% 100%;
      background-image: url("/assets/image/market3.webp");
      border-radius: 5px;
    }

    .market-content {
      border: 1px solid rgba(204, 204, 204, 0.5);
      display: inline-block;
      border-top: none;
      border-radius: 5px;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;

      h1 {
        font-size: 15px;
        float: left;
        margin-top: 6px;
        margin-bottom: 6px;
      }

      a {
        font-size: 14px;
        float: left;
        margin-top: 4px;
        margin-bottom: 8px;
      }

      p {
        display: inline-block;
        float: left;
        padding-bottom: 11px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        display: inline-block;
        color: #EA3323;
        float: left;
        font-size: 20px;
        inline-size: -webkit-fill-available;
        text-align: left;
        margin: 13px;
        margin-bottom: 0px;
      }

      span {
        display: inline-block;
        text-align: left;
        color: #818181;
        font-size: 13px;
        float: left;

      }

      .market-day {
        border: none;
        color: #818181;
        font-size: 11px;
        padding: 0;
        margin: 0;

      }

      .market-like {
        border: none;
        color: #818181;
        font-size: 11px;
        padding: 0;
        margin: 13px;
        margin-top: 7px;
        margin-bottom: 7px;


        span {
          float: right;
          padding: 0;
          margin: 3px;
        }

        a {
          margin: 3px;
          font-size: 13px;

        }
      }

    }


  }


  .main-market-for {
    opacity: 0.5;
    position: relative;
    display: inline-block;
    width: 220px;
    height: 300px;
    margin-left: 21px;
    text-align: center;
    margin-right: 21px;
    border-bottom: none;


    .market-img {
      span {
        opacity: 100%;
        position: relative;
        font-size: 30px;
        left: -35px;
        top: 149px;
      }

      svg {
        margin: 10px;
        float: left;
      }


      border: 1px solid rgba(204, 204, 204, 0.5);
      width: 100%;
      height: 190px;
      background-size: 100% 100%;
      background-image: url("/assets/image/market4.webp");
      border-radius: 5px;
    }

    .market-content {
      border: 1px solid rgba(204, 204, 204, 0.5);
      display: inline-block;
      border-top: none;
      border-radius: 5px;


      h1 {
        font-size: 15px;
        float: left;
        margin-top: 6px;
        margin-bottom: 6px;
      }

      a {
        font-size: 14px;
        float: left;
        margin-top: 4px;
        margin-bottom: 8px;
      }

      p {
        display: inline-block;
        float: left;
        padding-bottom: 11px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        color: #EA3323;
        font-size: 20px;

        text-align: left;
        margin: 13px;
        margin-bottom: 0px;
      }

      span {
        display: inline-block;
        text-align: left;
        color: #818181;
        font-size: 13px;
        float: left;
      }

      .market-day {
        border: none;
        color: #818181;
        font-size: 11px;
        padding: 0;
        margin: 0;

      }

      .market-like {
        border: none;
        color: #818181;
        font-size: 11px;
        padding: 0;
        margin: 13px;
        margin-top: 7px;
        margin-bottom: 7px;


        span {
          float: right;
          padding: 0;
          margin: 3px;
        }

        a {
          margin: 3px;
          font-size: 13px;

        }
      }

    }


  }

}

// ㅡㅡㅡㅡㅡ캠핑장정보
.info-main {
  text-align: -webkit-center;

  .info-sidebar {
    position: absolute;
    top: 19%;

    a {
      position: relative;
      float: left;
    }
  }

  .map-box {
    position: relative;
    text-align: -webkit-center;
    width: 100%;

    svg {
      display: none;
    }

    .map_wrap, .map_wrap * {
      margin: 0;
      padding: 0;
      font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
      font-size: 12px;
    }

    .map_wrap a, .map_wrap a:hover, .map_wrap a:active {
      color: #000;
      text-decoration: none;
    }

    .map_wrap {
      position: relative;
      width: 70%;
      height: 466px;
    }

    #menu_wrap {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 400px;
      margin: 10px 0 30px 10px;
      padding: 5px;
      overflow-y: auto;
      background: rgba(255, 255, 255, 0.7);
      z-index: 1;
      font-size: 12px;
      border-radius: 10px;
    }

    .bg_white {
      background: #fff;
    }

    #menu_wrap hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 2px solid #5F5F5F;
      margin: 3px 0;
    }

    #menu_wrap .option {
      text-align: center;
    }

    #menu_wrap .option p {
      margin: 10px 0;
    }

    #menu_wrap .option button {
      margin-left: 5px;
    }

    #placesList li {
      list-style: none;
    }

    #placesList .item {
      position: relative;
      border-bottom: 1px solid #888;
      overflow: hidden;
      cursor: pointer;
      min-height: 65px;
    }

    #placesList .item span {
      display: block;
      margin-top: 4px;
    }

    #placesList .item h5, #placesList .item .info {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    #placesList .item .info {
      padding: 10px 0 10px 55px;
    }

    #placesList .info .gray {
      color: #8a8a8a;
    }

    #placesList .info .jibun {
      padding-left: 26px;
      background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.webp) no-repeat;
    }

    #placesList .info .tel {
      color: #009900;
    }

    #placesList .item .markerbg {
      float: left;
      position: absolute;
      width: 36px;
      height: 37px;
      margin: 10px 0 0 10px;
      background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.webp) no-repeat;
    }

    #placesList .item .marker_1 {
      background-position: 0 -10px;
    }

    #placesList .item .marker_2 {
      background-position: 0 -56px;
    }

    #placesList .item .marker_3 {
      background-position: 0 -102px
    }

    #placesList .item .marker_4 {
      background-position: 0 -148px;
    }

    #placesList .item .marker_5 {
      background-position: 0 -194px;
    }

    #placesList .item .marker_6 {
      background-position: 0 -240px;
    }

    #placesList .item .marker_7 {
      background-position: 0 -286px;
    }

    #placesList .item .marker_8 {
      background-position: 0 -332px;
    }

    #placesList .item .marker_9 {
      background-position: 0 -378px;
    }

    #placesList .item .marker_10 {
      background-position: 0 -423px;
    }

    #placesList .item .marker_11 {
      background-position: 0 -470px;
    }

    #placesList .item .marker_12 {
      background-position: 0 -516px;
    }

    #placesList .item .marker_13 {
      background-position: 0 -562px;
    }

    #placesList .item .marker_14 {
      background-position: 0 -608px;
    }

    #placesList .item .marker_15 {
      background-position: 0 -654px;
    }

    #pagination {
      margin: 10px auto;
      text-align: center;
    }

    #pagination a {
      display: inline-block;
      margin-right: 10px;
    }

    #pagination .on {
      font-weight: bold;
      cursor: default;
      color: #777;
    }
  }

  background-image: url("/assets/image/main-bottom.webp ");
  background-size: 100% 100%;
  height: 1000px;
  position: relative;
  top: -126px;

  .header {
    padding-bottom: 10px;
  }

  h1 {
    font-size: 40px;
    text-align: center;
  }

  .info-serch {
    margin: 2%;
    text-align: center;


    span {
      position: relative;
      left: -40px;
      top: 3px;
    }

    .custom-input::placeholder {
      text-align: center;
    }

    .custom-input {
      width: 70%;
      max-width: 500px;
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);

    }
  }

  .info-box {
    display: flex;
    justify-content: center;

    .info-shapbox {
      .info-shap {
        text-align: center;
        position: relative;
        margin-right: 37px;
        top: -19px;
        color: #666666;
        text-decoration: none;
      }
    }
  }


  .date-box {
    text-align: center;

    .date-pic {
      position: relative;
      display: inline-block;
      margin: 30px;
      padding-right: 9%;

      .calendar-btn {
        width: 300px;
        height: 50px;
        display: flex;
        flex-direction: row;
        text-align: center;
        background-color: white;
        border: 2px solid $primary-color;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
        z-index: 2;
      }

      #calendar {
        z-index: 2;
      }
    }

    .date-pick {
      position: relative;
      display: inline-block;
      margin: 30px;
      padding-left: 9%;

      .calendar-btn {
        width: 300px;
        height: 50px;
        display: flex;
        flex-direction: row;
        text-align: center;
        background-color: white;
        border: 2px solid $primary-color;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
      }

      #calendar {
        z-index: 2;
      }
    }
  }

  .info-side {
    position: fixed;
    width: 8%;
    background-color: white;
    height: 32%;
    top: 20%;
    border-radius: 0 10px 10px 0;
    z-index: 1;

    span {
      position: absolute;
      font-size: 30px;
      margin: 0 auto;
    }

    .info-navi {
      border-top: 2px solid;
      border-bottom: 2px solid;
      position: relative;
      display: inline-block;
      width: 50px;
      height: 68px;
      top: 44px;
    }

    .info {
      text-align: center;
      padding: 15px 0 15px 0;
      position: relative;
      top: 10%;
      left: -2%;

      a {
        font-size: 20px;
        position: relative;
        display: inline-block;
        color: #2F2E2C;
        text-decoration: none;
      }
    }

    .info-dic:hover {
      width: 170px;
      position: relative;
      color: white;
      border-radius: 0 5px 5px 0;
      background-color: #2F2E2C;
      text-align: center;
      animation-duration: 0.5s;
      animation-name: slide;
      @keyframes slide {
        from {
          margin-left: -30px;
        }
        to {
          margin-left: 0;
        }

      }

      a {
        color: white;
      }
    }

    .info-dic {
      text-align: center;
      padding: 15px 0 15px 0;
      position: relative;
      top: 15%;
      left: -2%;

      a {
        position: relative;
        display: inline-block;
        color: #cccccc;
        text-decoration: none;
      }
    }

    .info-food:hover {
      width: 170px;
      position: relative;
      color: white;
      border-radius: 0 5px 5px 0;
      background-color: #2F2E2C;
      text-align: center;
      animation-duration: 0.5s;
      animation-name: slide;
      @keyframes slide {
        from {
          margin-left: -30px;
        }
        to {
          margin-left: 0;
        }

      }

      a {
        color: white;
      }
    }

    .info-food {
      text-align: center;
      padding: 15px 0 15px 0;
      position: relative;
      top: 15%;
      left: -2%;

      a {
        position: relative;
        display: inline-block;
        color: #cccccc;
        text-decoration: none;
      }
    }

    //.info-food {
    //  text-align: center;
    //
    //  a:hover {
    //    color: #2F2E2C;
    //  }
    //
    //  a {
    //    position: relative;
    //    display: inline-block;
    //    color: #cccccc;
    //    text-decoration: none;
    //  }
    //}
  }

  .info-mapbtn {
    display: flex;
    justify-content: center;
    position: relative;
    right: 0.7%;
    width: 300px;

    .custom-button {
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    }
  }
}

.info-select {
  position: relative;
  top: -98px;
  text-align: center;

  select {
    position: relative;
    margin-right: 1.2%;
    border-radius: 5px;
    FONT-SIZE: 17PX;
    RIGHT: 23%;
    BACKGROUND-COLOR: wheat;
  }
}

.info-camp {
  position: relative;
  width: 70%;
  margin: 0 auto;
  color: #CCCCCC;
  border-top: solid 2px;

  .info-content {
    .camp-info {
      h1 {
        padding: 2%;
      }

      .info-body {
        justify-content: space-between;

        .info-item {
          width: 40%;
        }
      }
    }
  }

}

.info-pagination {
  position: relative;
  text-align: center;

}

