.custom {
  //input
  &-input {
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 0 5px;
  }

  &-button {
    position: relative;
    width: 100px;
    height: 30px;
    border: 1px solid $primary-color;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    > a {
      text-decoration: none;

      &:link {
        color: $text-color;
      }

      &:visited {
        color: $text-color;
      }

      &:active {
        color: $text-color;
      }
    }
  }

  &-select {
    //todo
    width: 200px;
    height: 40px;
  }
}

#loading-bar {
  @include center();
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid $primary-color;
  border-top-color: #b7a997;
  opacity: 80%;
  //border-left-color: #ccc;
  animation: spin 1s ease-in-out infinite;

}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}