.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-area {
    margin-top: 107px;
    margin-bottom: 32px;
    width: 100%;
    height: 443px;
    text-align: center;
    background-image: url("../assets/images/login/login_bg.webp");

    .logo-area {
      padding-top: 56px;
      margin-bottom: 44px;

      img {
        width: 41px;
        height: 41px;
        margin-bottom: 23px;
      }

      h1 {
        font-size: 24px;
        color: $text-color;
        margin: 0;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .custom-input {
        width: 300px;
      }

      .btn-area {
        display: flex;
        margin-top: 20px;

        .join {
          background-color: $primary-color;
          border: 2px solid $primary-color;
          margin-left: 20px;

          a {
            color: white;
            margin: 0;
          }
        }
      }
    }

    > p {
      margin-top: 16px;
      font-size: 12px;
      color: $gray;
      background-repeat: round;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .join-btn {
    color: $gray;

    &:hover {
      cursor: pointer;
    }

  }
}

//회원가입

.signup {
  margin: 0 auto;
  height: 650px;
  width: 70%;
  padding-top: 168px;
  text-align: right;

  .signup-img-fir {
    display: inline-block;


    img {
      top: 498px;
      left: 461px;
      width: 556px;
      height: 266px;
      position: absolute;
    }
  }

  .signup-img-sec {
    display: inline-block;

    img {
      top: 243px;
      left: 461px;
      width: 393px;
      height: 282px;
      position: absolute;
    }


  }

  .signup-form {
    display: inline-block;
    top: 228px;
    left: 931px;
    position: absolute;
    background: rgba(238, 238, 238, 0.8);
    width: 400px;
    height: 550px;
    text-align: -webkit-center;

    .custom-button {
      background-color: $primary-color;
      border-color: $primary-color;
      position: relative;
      top: 91px;
      max-width: 515px;
      width: 275px;

      a {
        color: white;
      }
    }

    span {
      font-size: 30px;
      color: $primary-color;
      top: 44px;
      position: relative;
    }

    .custom-input {
      display: block;
      text-align: center;
      top: 68px;
      position: relative;
    }
  }
}