$contW: 900px;
$imgW: 260px;
$formW: $contW - $imgW;
$inputW: 260px;
$btnH: 36px;


.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  height: 700px;
  text-align: center;
  padding-top: 80px;
  background-repeat: space;
  background-size: 100% 100%;
  padding-bottom: 108px;
}

.form {
  position: relative;
  height: 100%;


}

.login-main {
  //background-image: url("/public/assets/image/login-background.png");
  .sns-img {
    padding-top: 35px;
    padding-bottom: 10px;
    bottom: 10px;
  }
}

.login-form {
  background-image: url("public/assets/image/login-background.png");
  background-repeat: round;

  padding: 103px;

  h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }

  label {
    display: block;
    width: $inputW;
    margin: 25px auto 0;
    text-align: center;

    span {
      font-size: 12px;
      color: #cfcfcf;
      text-transform: uppercase;
    }
  }

  input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    //border-bottom: 1px solid rgba(0, 0, 0, 0.4); //입체감
    text-align: center;
    border-radius: 30px;

  }

  button {
    display: block;
    width: 130px;
    height: $btnH;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    background-color: #fa6c1a;
    margin-right: 2px;
    margin-left: 11px;

  }


}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: $formW;
  top: 0;
  width: $contW;
  height: 100%;
  padding-left: $imgW;
  background: #fff;


}

.forgot-pass {
  margin-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;

  button {
    display: inline-block;
    text-align: center;
  }

  .sig-btn {
    background-color: white;
    color: #4A5568;
  }
}

.login-signup {
  //text-align: left;
  //float: left;
}

.sns-login {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 30px;

  img {

  }
}

