//헤더바
@media (min-width: 768px) {
  .header {
    margin-bottom: 30px;
    position: relative;

    &-bar {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      height: 96px;
      max-width: 910px;
      margin: 0 auto;
      white-space: nowrap;

      .mainContainer {
        display: none;
      }

      .containerPop {
        display: none;
      }

      &-logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        background-color: #2f2e2c;
        color: white;
        height: 100%;
        width: 84px;
        border-radius: 0 0 17px 17px;
        cursor: pointer;

        span {
          margin: 0 20px 10px 20px;
        }
      }

      &-moSearch {
        display: none;
      }

      &-menu {
        &-login {
          ul {
            display: flex;
            justify-content: flex-end;

            li {
              list-style: none;
              padding: 0 8px;

              a {
                font-size: 11px;
                color: #2f2e2c;
                cursor: pointer;
                padding-left: 5px;
              }

              a:hover {
                color: #fa6c1a;
              }
            }
          }
        }

        &-info {
          display: flex;
          align-items: center;
          padding: 10px 6px;

          .container {
            padding-right: 20px;

            &-trigger {
              display: none;

              &-label {
                width: 16px;
                display: block;
                position: relative;
                cursor: pointer;
              }
            }
          }

          &-list {
            span {
              cursor: pointer;
              padding: 7px 20px;
              font-weight: 700;
            }

            span:hover {
              background-color: #2f2e2c;
              color: #ffffff;
            }
          }

          &-search {
            position: relative;
            padding-left: 20px;

            input {
              border-radius: 4px;
              height: 20px;
              width: 165px;
              border: 1px solid #c3c3c3;
            }

            i {
              position: absolute;
              right: 9px;
              top: 4px;
              color: black;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@include mb() {
  .header {
    margin-bottom: 30px;

    &-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 95px;

      .mainContainer {
        display: block;

        &-label {
          i {
            font-size: 30px;
            cursor: pointer;
            padding: 0 10px;
          }
        }
      }

      .containerPop {
        display: block;
        width: 80px;
        height: 100px;
        background-color: #3f3f3f;
        color: white;
        position: fixed;
        top: 11px;
        left: 40px;
        transition: 0.3s;

        ul {
          font-size: 14px;
          height: 100px;
          list-style: none;
          padding: 0;
          display: flex;
          flex-direction: column;

          li {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

            a {
              height: 50px;
              cursor: pointer;

              &:hover {
                background-color: #7b7b7b;
              }
            }
          }
        }
      }

      &-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        svg {
          background-color: white;

          path {
            fill: #2f2e2c;
          }
        }
      }

      &-moSearch {
        display: block;

        i {
          cursor: pointer;
          font-size: 30px;
          color: black;
          padding: 0 10px;
        }
      }

      &-menu {
        display: none;

        &-login {
          ul {
            display: flex;
            justify-content: flex-end;

            li {
              list-style: none;
              padding: 0 8px;

              a {
                font-size: 11px;
                color: #2f2e2c;
                cursor: pointer;
              }

              a:hover {
                color: #fa6c1a;
              }
            }
          }
        }

        &-info {
          display: none;

          .container {
            padding-right: 20px;

            &-trigger {
              display: none;

              &-label {
                width: 16px;
                display: block;
                position: relative;
                cursor: pointer;
              }
            }
          }

          &-list {
            display: none;
          }

          &-search {
            display: none;
          }
        }
      }
    }
  }
}

//푸터바
@media (min-width: 768px) {
  .footer {
    margin: 100px 0 0 0;

    &-bar {
      display: grid;
      align-content: space-between;
      color: white;
      background-color: #2f2e2c;
      height: 200px;

      &-wrap {
        display: flex;
        justify-content: center;
        padding: 20px;

        &-nav {
          &-menu {
            padding: 0 10px;
            border-right: 1px solid white;
          }
        }
      }

      &-info {
        display: flex;
        justify-content: center;
        padding: 20px;

        &-logo {
          display: flex;
          font-weight: bold;
          align-items: center;

          span {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

@include mb() {
  .footer {
    margin: 100px 0 0 0;

    &-bar {
      display: grid;
      align-content: space-between;
      color: white;
      background-color: #2f2e2c;
      height: 140px;

      &-wrap {
        display: flex;
        justify-content: center;
        padding: 10px;

        &-nav {
          span {
            font-size: 12px;
          }

          &-menu {
            padding: 0 10px;
            border-right: 1px solid white;
          }
        }
      }

      &-info {
        display: flex;
        justify-content: center;
        padding: 20px;

        &-logo {
          display: flex;
          align-items: center;

          svg {
            width: 40px;
          }

          span {
            font-size: 14px;
            padding-left: 10px;
          }
        }
      }
    }
  }
}

//소식
@media (min-width: 768px) {
  .news {
    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 40px;
      max-width: 855px;
      margin: 0 auto;

      &-contents {
        display: flex;
        align-items: baseline;
        position: relative;
        //소식
        &-title {
          font-size: 48px;
          font-weight: bold;
          padding-right: 10px;
        }

        //다르캠퍼의~
        &-ment {
          font-size: 16px;
        }
      }

      .line {
        position: absolute;
        width: 537px;
        height: 18px;
        left: 0;
        top: 158px;
        background: #ececec;
        border: none;
        z-index: 4;
      }

      //태그장소 찾아보기
      &-search {
        position: relative;

        .custom-input {
          border: 1.5px solid rgba(204, 204, 204, 0.8);
          border-radius: 8px;
          height: 42px;
          width: 279px;
          box-shadow: 5px 5px 5px #999999;
          color: #000000;
        }

        input::placeholder {
          text-align: center;
        }

        button {
          position: absolute;
          right: 10px;
          top: 10px;
          background: none;
          border: none;
          cursor: pointer;

          i {
            color: #000000;
          }

          i:hover {
            color: #ec671a;
          }
        }
      }
    }


    &-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      max-width: 855px;
      margin: 0 auto;
      padding: 20px 40px;

      &-showBtn {
        display: flex;
        .custom-button {
          position: relative;
          min-width: 0;
          border: none;
          border-radius: 0;
          display: inherit;
          cursor: pointer;
          width: 120px;
          padding: 0 5px;
        }
        .showActive {
          color: $text-color;
        }
      }

      //셀렉박스
      &-select {
        .slider {
          width: 100px;
        }

        ul {
          display: flex;
          list-style: none;

          li {
            padding: 0 10px;

            select {
              border-color: #2f2e2c;
              height: 27px;
              border-radius: 4px;
              cursor: pointer;
              font-size: 15px;
              width: auto;
            }
          }
        }
      }

      //글쓰기 버튼
      &-button {
        .write_btn {
          padding: 4.3px 13px;
          border-radius: 4px;
          background-color: #ec671a;
          border: none;
          color: white;
          cursor: pointer;
          width: 100px;

          i {
            font-size: 15px;
            padding-right: 3px;
          }

          span {
            font-size: 15px;
          }
        }
      }
    }

    //게시물이미지 내용
    &-ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      max-width: 1000px;
      margin: 0 auto;

      &-li {
        padding: 12.5px;

        &-wrap {
          position: relative;
          border-radius: 8px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          height: 279px;

          //게시판 사진부분
          &-write {
            img {
              width: 241px;
              height: 241px;
              border-radius: 8px;
              cursor: pointer;
              object-fit: cover;
            }
          }

          //게시판 상세 부분
          .detail {
            background-color: white;
            position: absolute;
            bottom: 0;
            width: 100%;
            border-radius: 0 0 8px 8px;

            //하트 댓글 북마크 들
            &-wrap {
              display: flex;
              border-bottom: 1px solid #cccccc;
              color: #818181;

              &-icon {
                padding: 5px 9px;

                span {
                  i {
                    font-size: 15px;
                  }
                }
              }

              &-briefcase {
                padding: 5px 9px;
                flex: 1 0 0;

                span {
                  i {
                    font-size: 15px;
                  }
                }
              }
            }

            //게시판 내용
            .contents {
              padding: 3px;
              height: 40px;
              color: #4c4c4c;
              display: flex;
              width: 241px;

              &-writing {
                padding: 4px 0;
                flex: 1 0 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 14px;
              }

              span {
                i {
                  font-size: 14px;
                }
              }
            }

            //댓글 개수
            .comments {
              padding: 3px;
              height: 30px;
              color: #4c4c4c;

              span {
                font-size: 11px;
                padding: 3px;

                i {
                  font-size: 11px;
                }
              }
            }
          }

          //사진위 좋아요
          .heart {
            position: absolute;
            top: 5px;
            left: 5px;

            span {
              color: white;
              font-size: 11px;
              padding-left: 5px;

              i {
                font-size: 11px;
                color: red;
              }
            }
          }
        }
      }
    }
  }
}

@include mb() {
  .news {
    &-wrap {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 20px 0;

      &-contents {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        position: relative;

        &-title {
          font-size: 35px;
          font-weight: bold;
          padding-right: 10px;
        }

        &-ment {
          font-size: 15px;
        }
      }

      .line {
        position: absolute;
        width: 537px;
        height: 18px;
        left: 0;
        top: 158px;
        background: #ececec;
        border: none;
        z-index: 4;
      }

      &-search {
        position: relative;

        .custom-input {
          border: 1.5px solid rgba(204, 204, 204, 0.8);
          border-radius: 8px;
          height: 35px;
          width: 240px;
          box-shadow: 5px 5px 5px #999999;
          color: #000000;
        }

        input::placeholder {
          text-align: center;
        }

        button {
          position: absolute;
          right: 10px;
          top: 7px;
          background: none;
          border: none;
          cursor: pointer;

          i {
            color: #000000;
            font-size: 20px;
          }

          i:hover {
            color: #ec671a;
          }
        }
      }
    }

    &-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px 30px;

      &-select {
        .slider {
          width: 100px;
        }

        ul {
          display: flex;
          list-style: none;

          li {
            padding: 0 10px;

            select {
              border-color: #2f2e2c;
              height: 27px;
              border-radius: 4px;
              cursor: pointer;
              font-size: 13px;
              width: auto;
            }
          }
        }
      }

      &-button {
        .write_btn {
          padding: 5px 13px;
          border-radius: 4px;
          background-color: #ec671a;
          border: none;
          color: white;
          cursor: pointer;

          i {
            font-size: 13px;
            padding-right: 3px;
          }

          span {
            font-size: 13px;
          }
        }
      }
    }

    //게시물 내용

    &-ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      max-width: 1200px;
      margin: 0 auto;

      &-li {
        padding: 12.5px;

        &-wrap {
          position: relative;
          border-radius: 8px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          height: 300px;

          //게시판 사진부분
          &-write {
            img {
              width: 262px;
              height: 262px;
              border-radius: 8px;
              cursor: pointer;
              object-fit: cover;
            }
          }

          //게시판 상세 부분
          .detail {
            background-color: white;
            position: absolute;
            bottom: 0;
            width: 100%;
            border-radius: 0 0 8px 8px;

            //하트 댓글 북마크 들
            &-wrap {
              display: flex;
              border-bottom: 1px solid #cccccc;
              color: #818181;

              &-icon {
                padding: 5px 9px;

                span {
                  i {
                    font-size: 18px;
                  }
                }
              }

              &-briefcase {
                padding: 5px 9px;
                flex: 1 0 0;

                span {
                  i {
                    font-size: 18px;
                  }
                }
              }
            }

            //게시판 내용
            .contents {
              padding: 3px;
              height: 40px;
              color: #4c4c4c;
              display: flex;
              width: 262px;

              &-writing {
                font-size: 15px;
                flex: 1 0 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
            }

            //댓글 개수
            .comments {
              padding: 3px;
              height: 30px;
              color: #4c4c4c;

              span {
                font-size: 12px;
                padding: 3px;
              }
            }
          }

          //사진위 좋아요
          .heart {
            position: absolute;
            top: 5px;
            left: 5px;

            span {
              color: white;
              font-size: 12px;
              padding-left: 5px;

              i {
                font-size: 12px;
                color: red;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .news {
    &-wrap {
      display: flex;
      align-items: center;
      padding: 20px;

      &-contents {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        flex: 1 0 0;

        &-title {
          font-weight: bold;
          padding-right: 10px;
          font-size: 20px;
        }

        &-ment {
          font-size: 12px;
        }
      }

      &-search {
        position: relative;

        .custom-input {
          border: 1.5px solid rgba(204, 204, 204, 0.8);
          border-radius: 8px;
          height: 28px;
          width: 135px;
          box-shadow: 5px 5px 5px #999999;
        }

        input::placeholder {
          text-align: center;
          font-size: 10px;
        }

        button {
          position: absolute;
          right: 0;
          top: 4px;
          background: none;
          border: none;
          cursor: pointer;

          i {
            color: #000000;
            font-size: 14px;
          }

          i:hover {
            color: #ec671a;
          }
        }
      }
    }

    &-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 10px 20px;

      &-select {
        .slider {
          width: 100px;
        }

        ul {
          display: flex;
          list-style: none;

          li {
            padding: 0 3px;

            select {
              font-size: 10px;
              border-color: #2f2e2c;
              height: 18px;
              width: 45px;
              border-radius: 4px;
              cursor: pointer;
            }
          }
        }
      }

      &-button {
        .write_btn {
          padding: 0 10px;
          border-radius: 4px;
          background-color: #ec671a;
          border: none;
          color: white;
          cursor: pointer;

          i {
            font-size: 10px;
            padding-bottom: 4px;
          }

          span {
            display: none;
          }
        }
      }
    }

    //프로필
    &-ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;

      &-li {
        padding: 17.5px;
        width: 218px;

        &-wrap {
          position: relative;
          border-radius: 8px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          height: 228px;

          //게시판 사진부분
          &-write {
            img {
              width: 183px;
              height: 183px;
              border-radius: 8px;
              cursor: pointer;
              object-fit: cover;
            }
          }

          //게시판 상세 부분
          .detail {
            background-color: white;
            position: absolute;
            bottom: 0;
            width: 100%;
            border-radius: 0 0 8px 8px;

            //하트 댓글 북마크 들
            &-wrap {
              display: flex;
              border-bottom: 1px solid #cccccc;
              color: #818181;

              &-icon {
                padding: 5px 9px;

                span {
                  i {
                    font-size: 13px;
                  }
                }
              }

              &-briefcase {
                padding: 5px 9px;
                flex: 1 0 0;

                span {
                  i {
                    font-size: 13px;
                  }
                }
              }
            }

            //게시판 내용
            .contents {
              padding: 3px;
              height: 30px;
              color: #4c4c4c;
              display: flex;
              width: 183px;

              &-writing {
                flex: 1 0 0;
                font-size: 13px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
            }

            //댓글 개수
            .comments {
              padding: 3px;
              height: 30px;
              color: #4c4c4c;

              span {
                font-size: 10px;
                padding: 3px;
              }
            }
          }

          //사진위 좋아요
          .heart {
            position: absolute;
            top: 5px;
            left: 5px;

            span {
              color: white;
              font-size: 10px;
              padding-left: 5px;

              i {
                font-size: 10px;
                color: red;
              }
            }
          }
        }
      }
    }
  }
}

//모달창 home
.modalHome {
  button {
    padding: 5px 13px;
    border-radius: 4px;
    background-color: #ec671a;
    border: none;
    color: white;
    font-size: 13px;
    cursor: pointer;
  }
}

///mmmmmmmmmmmmm메인페이지mmmmmmmmmmmmm
@media (min-width: 768px) {
  .main-box {
    text-align: center;

    .main-fir:hover {
      transform: scale(1.05);
      transition: 0.5s;
      border-radius: 10px;
    }

    .main-fir {
      display: inline-block;
      background-size: 100% 100%;
      background-image: url("public/assets/image/mainpage2.png");
      width: 50%;
      height: 520px;

      span {
        color: $white;
        position: relative;
        font-size: 24px;
        top: 381px;
      }

      //.custom-button:hover {
      //  transform: scale(1.5);
      //  transition: 0.5s;
      //
      //}

      .custom-button {
        border-color: #fa6c1a;
        background-color: #fa6c1a;
        border-radius: 20px;
        top: 403px;
        width: 28%;
        height: 43px;
        margin: 0 auto;

        a {
          font-size: 18px;
          color: $white;
        }
      }
    }

    .main-sec:hover {
      transform: scale(1.05);
      transition: 0.5s;
      border-radius: 10px;
    }

    .main-sec {
      display: inline-block;
      background-size: 100% 100%;
      background-image: url("public/assets/image/mainpage3.png");
      width: 50%;
      height: 520px;

      span {
        color: $white;
        position: relative;
        font-size: 24px;
        top: 381px;
      }

      //.custom-button:hover {
      //  transform: scale(1.5);
      //  transition: 0.5s;
      //}

      .custom-button {
        border-color: #fa6c1a;
        background-color: #fa6c1a;
        border-radius: 20px;
        top: 403px;
        width: 28%;
        height: 43px;
        margin: 0 auto;

        a {
          font-size: 18px;
          color: $white;
        }
      }
    }
  }

  .main-icon {
    text-align: center;
    padding-top: 47px;
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
      color: #000000;
      position: relative;
      padding-right: 25px;
    }

    span {
      display: inline-block;
      inline-size: -webkit-fill-available;
    }
  }

  //1200
  .icon-name {
    text-align: center;
    text-decoration: none;

    span {
      padding-right: 60px;
    }
  }

  .main-story {
    text-align: center;
    padding-top: 60px;

    span {
      display: inline-block;
      //inline-size: -webkit-fill-available;
      padding-top: 6px;
      font-size: 12px;
      color: $lightgry;
    }
  }

  .main-sns {
    overflow: hidden;

    .news-wrap {
      display: none;
    }

    .news-menu {
      display: none;
    }

    .profile-wrap {
      display: none;
      bottom: 20px;
    }

    .news-ul {
      height: 420px;
      overflow: auto;
      display: flex;
      list-style: none;
      margin: 0 auto;
      flex-wrap: nowrap;
      max-width: 70%;
      justify-content: flex-start;
      margin-top: auto;

      .news-ul-li:hover {
        margin: auto;
        transform: scale(1.1);
        transition: 0.5s;
        opacity: 100%;
      }

      .news-ul-li {
        opacity: 0.5;
        padding: 12.5px;
        margin: auto;
      }
    }

    .pagination {
      display: none;
    }


  }
  //1200
  .view-all {
    margin: 0 auto;
    max-width: 360px;
    max-height: 35px;
    padding-top: 30px;
    padding-bottom: 100px;

    .custom-button {
      height: 36px;
      border-radius: 5px;
      border-color: $darkgry;
      border-width: 1px;

      a {
        color: #3e3e3e;
        font-size: 13px;
      }
    }
  }

  .add-banner {
    position: relative;
    overflow: hidden;

    .add-img {
      background-image: url("public/assets/image/mainpage4.png");
      display: inline-block;
      background-size: 100% 100%;
      width: 100%;
      height: 240px;

      span {
        position: relative;
        display: block;
        color: $white;
        font-size: 19px;
        padding: 9px;
        left: 240px;
        top: 45px;
      }

      .custom-button {
        background-color: #fa6c1a;
        border-color: #fa6c1a;
        width: 6%;
        height: 15%;
        position: absolute;
        min-width: 137px;
        border-radius: 3px;
        left: 257px;
        bottom: 40px;

        a {
          color: $white;
          font-size: 12px;
        }
      }
    }
  }

  .main-campsite {
    padding-top: 88px;
    padding-bottom: 20px;

    text-align: -webkit-center;

    h2 {
      bottom: 10px;
    }

    .custom-button {
      margin-top: 20px;
      width: 11px;
      height: 34px;
      position: relative;
      border: 0.5px solid $lightgry;
      border-radius: 3px;

      a {
        color: $white;
        font-size: 12px;
      }
    }
  }
  .autocamp-box {
    position: relative;
    text-align: center;

    .main-autocamp:hover {
      transform: scale(1.05);
      transition: 0.2s;
      z-index: 1;
    }

    .main-autocamp {
      text-align: center;
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 10px;
      width: 314px;
      margin-top: 32px;

      //.autocamp:hover {
      //  transform: scale(1.5);
      //  transition: 0.5s;
      //  z-index: 1;
      //
      //}

      .autocamp {
        border: 1px solid rgba(204, 204, 204, 0.5);
        background-image: url("/public/assets/image/mainutoCamp.png");
        display: inline-block;
        background-size: 100% 100%;
        height: 191px;
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        img {
          border-style: none;
          width: 17%;
        }
      }

      .autocam-cont {
        h1 {
          position: relative;
          display: inline-block;
          font-size: 23px;
          float: left;
          margin: 2%;
          margin-top: 1%;
        }

        span {
          position: relative;
          display: inline-block;
          color: #818181;
          font-size: 16px;
        }

        a {
          margin-top: 1%;
          margin-left: 2%;
          float: left;
          text-align: left;
          position: relative;
          display: inline-block;
          color: #0093e7;
        }

        h2 {
          color: #ea3323;
          position: relative;
          display: inline-block;
          margin-right: 27%;
          margin-top: 5%;
          margin-bottom: 2%;
        }
      }
    }
  }

  .used-market-box {
    max-width: 1100px;
    margin: 60px auto;
    overflow: hidden;

    div.usedMarketButton {
      margin: 20px auto;
      max-width: none;
      max-height: none;
      border: none;

      a {
        color: #000000;
        font-size: 32px;
        font-weight: bold;
      }
    }

    .used-contents-area {
      flex-wrap: nowrap;
      text-align: start;
    }
  }

  .main-bottom {
    margin-top: 90px;

    span {
      position: relative;
      top: 70px;

      h1 {
        padding-top: 60px;
        font-size: 34px;
        top: -64px;
        position: relative;
      }

      h2 {
        margin: 30px;
        font-size: 16px;
        position: relative;
        top: -65px;
      }
    }

    background-image: url("public/assets/image/main-bottom.png");
    background-size: 100% 100%;
    height: 620px;
    text-align: center;
    left: 50%;
    top: 50%;

    .main-recomend {
      position: relative;
      top: -4px;

      .bottom-fir:hover {
        transform: scale(1.05);
        transition: 0.5s;
        z-index: 1;
        position: relative;
      }

      .bottom-fir {
        box-shadow: 5px 5px 5px grey;
        display: inline-block;
        background-size: 100% 100%;
        width: 280px;
        height: 250px;
        background-image: url("public/assets/image/mainpageslider1.png");

        .camping-jang {
          color: #ffffff;
          background: #ec671a;
          position: relative;
          top: 100%;
          height: 60%;
          box-shadow: 5px 5px 5px grey;

          .recomend-text {
            width: 90%;
            position: relative;
            top: 11px;
            left: 5%;
            word-spacing: 5px;
            line-height: 25px;
          }

          .recomend-navi {
            position: relative;

            .recomend {
              margin-left: 30px;
              top: 16px;
              position: relative;
              border: 1px solid $white;
              border-radius: 20px;
              width: 84px;

              span {
                padding: 5px;
                top: 0;
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            .recomend-arow {
              left: -11px;
              top: -8px;
              position: relative;
            }
          }

          p {
            position: relative;
            left: -55px;
            top: 19px;
          }
        }
      }

      .bottom-sec:hover {
        transform: scale(1.1);
        transition: 0.5s;
        z-index: 1;
        position: relative;
        box-shadow: 5px 5px 5px gray;
      }

      .bottom-sec {
        .camping-jang {
          color: $white;

          span {
            top: 4px;
            right: -82px;
          }

          s {
            position: relative;
            top: 10px;
            left: -67px;

            img {
              height: 11px;
              width: 11px;
              margin-inline: 1px;
            }
          }

          p {
            position: relative;
            left: -55px;
            top: 19px;
          }

          .camping-name {
          }

          top: 178px;
          height: 72px;
          background: rgba(0, 0, 0, 0.6);
          position: relative;
        }

        display: inline-block;
        background-size: 100% 100%;
        width: 280px;
        height: 250px;
        background-image: url("public/assets/image/mainpageslider2.png");
      }

      .bottom-thi:hover {
        transform: scale(1.1);
        transition: 0.5s;
        z-index: 1;
        position: relative;
        box-shadow: 5px 5px 5px gray;
      }

      .bottom-thi {
        .camping-jang {
          color: $white;

          span {
            top: 4px;
            right: -82px;
          }

          s {
            position: relative;
            top: 10px;
            left: -67px;

            img {
              height: 11px;
              width: 11px;
              margin-inline: 1px;
            }
          }

          p {
            position: relative;
            left: -55px;
            top: 19px;
          }

          top: 178px;
          height: 72px;
          background: rgba(0, 0, 0, 0.6);
          position: relative;
        }

        display: inline-block;
        background-size: 100% 100%;
        width: 280px;
        height: 250px;
        background-image: url("public/assets/image/mainpageslider3.png");
      }

      .bottom-for:hover {
        transform: scale(1.1);
        transition: 0.5s;
        z-index: 1;
        position: relative;
        box-shadow: 5px 5px 5px gray;
      }

      .bottom-for {
        //position: relative;

        .camping-jang {
          color: $white;

          span {
            top: 4px;
            right: -82px;
          }

          s {
            position: relative;
            top: 10px;
            left: -67px;

            img {
              height: 11px;
              width: 11px;
              margin-inline: 1px;
            }
          }

          p {
            position: relative;
            left: -55px;
            top: 19px;
          }

          .camping-name {
          }

          top: 178px;
          height: 72px;
          background: rgba(0, 0, 0, 0.6);
          position: relative;
        }

        display: inline-block;
        background-size: 100% 100%;
        width: 280px;
        height: 250px;
        background-image: url("public/assets/image/mainpageslider4.png");
      }
    }
  }
}

//반응형 메인
//767px
@include mb() {
  .main-box {
    text-align: center;

    .main-fir {
      display: inline-block;
      background-size: 100% 100%;
      background-image: url("public/assets/image/mainpage2.png");
      width: 100%;
      height: 500px;

      span {
        color: $white;
        position: relative;
        font-size: 20px;
        top: 70%;
      }

      .custom-button {
        border-color: #fa6c1a;
        background-color: #fa6c1a;
        border-radius: 20px;
        top: 75%;
        width: 50%;
        height: 43px;
        margin: 0 auto;

        a {
          font-size: 15px;
          color: $white;
        }
      }
    }

    .main-sec {
      display: inline-block;
      background-size: 100% 100%;
      background-image: url("public/assets/image/mainpage3.png");
      width: 100%;
      height: 500px;

      span {
        color: $white;
        position: relative;
        font-size: 20px;
        top: 70%;
      }

      .custom-button {
        border-color: #fa6c1a;
        background-color: #fa6c1a;
        border-radius: 20px;
        top: 75%;
        width: 50%;
        height: 43px;
        margin: 0 auto;

        a {
          font-size: 15px;
          color: $white;
        }
      }
    }
  }

  .main-icon {
    text-align: center;
    padding-top: 47px;
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
      color: #000000;
      position: relative;
      padding-right: 25px;
    }

    span {
      display: inline-block;
      inline-size: -webkit-fill-available;
    }
  }

  .icon-name {
    text-align: center;
    text-decoration: none;

    span {
      padding-right: 60px;
    }
  }

  .main-story {
    text-align: center;
    padding-top: 60px;

    span {
      display: inline-block;
      inline-size: -webkit-fill-available;
      padding-top: 6px;
      font-size: 12px;
      color: $lightgry;
    }
  }

  .main-sns {
    overflow: hidden;
    position: relative;
    left: -15%;

    .news-wrap {
      display: none;
    }

    .news-menu {
      display: none;
    }

    .profile-wrap {
      display: none;
      bottom: 20px;
    }

    .news-ul {
      overflow: scroll;
      flex-wrap: nowrap;
      transform: translateX(135px);
      transition: 0.5s;
      animation-timing-function: ease-in-out;
      justify-content: flex-start;

      .news-ul-li:hover {
        transform: translate(20px, 50px);
        transition: 1s;
      }

      .news-ul-li {
        margin: auto;
      }
    }

    .pagination {
      display: none;
    }
  }

  .view-all {
    margin: 0 auto;
    max-width: 360px;
    max-height: 35px;
    padding-top: 30px;
    padding-bottom: 100px;

    .custom-button {
      height: 36px;
      border-radius: 5px;
      border-color: $darkgry;
      border-width: 1px;

      a {
        color: #3e3e3e;
        font-size: 13px;
      }
    }
  }

  .add-banner {
    position: relative;
    overflow: hidden;

    .add-img {
      background-image: url("public/assets/image/mainpage4.png");
      display: inline-block;
      background-size: 100% 100%;
      width: 100%;
      height: 115px;

      span {
        position: relative;
        display: block;
        color: $white;
        font-size: 2px;
        padding: 9px;
        left: 36px;
        top: 3px;
      }

      .custom-button {
        background-color: #fa6c1a;
        border-color: #fa6c1a;
        width: 2%;
        height: 15%;
        position: absolute;
        min-width: 92px;
        border-radius: 3px;
        left: 50px;
        bottom: 40px;
        top: 80%;

        a {
          color: $white;
          font-size: 4px;
        }
      }
    }
  }

  .main-campsite {
    padding-top: 55px;
    padding-bottom: 20px;

    text-align: -webkit-center;

    h2 {
      bottom: 10px;
    }

    .custom-button {
      margin-top: 20px;
      width: 11px;
      height: 34px;
      position: relative;
      border: 0.5px solid $lightgry;
      border-radius: 3px;

      a {
        color: $white;
        font-size: 12px;
      }
    }
  }

  .main-autocamp {
    text-align: center;

    .autocamp {
      border: 1px solid rgba(204, 204, 204, 0.5);
      margin: 20px;
      display: inline-block;
    }
  }

  .main-bottom {
    margin-top: 90px;

    span {
      position: relative;
      top: 70px;

      h1 {
        padding-top: 60px;
        font-size: 34px;
        top: -64px;
        position: relative;
      }

      h2 {
        margin: 30px;
        font-size: 16px;
        position: relative;
        top: -65px;
      }
    }

    background-image: url("public/assets/image/main-bottom.png");
    background-size: 100% 100%;
    height: 620px;
    text-align: center;
    left: 50%;
    top: 50%;

    .main-recomend {
      position: relative;
      top: -4px;

      .bottom-fir {
        box-shadow: 5px 5px 5px grey;
        display: inline-block;
        background-size: 100% 100%;
        width: 280px;
        height: 250px;
        background-image: url("public/assets/image/mainpageslider1.png");

        .camping-jang {
          color: #ffffff;
          background: #ec671a;
          position: relative;
          top: 100%;
          height: 60%;
          box-shadow: 5px 5px 5px grey;

          .recomend-text {
            width: 90%;
            position: relative;
            top: 11px;
            left: 5%;
            word-spacing: 5px;
            line-height: 25px;
          }

          .recomend-navi {
            position: relative;

            .recomend {
              margin-left: 30px;
              top: 16px;
              position: relative;
              border: 1px solid $white;
              border-radius: 20px;
              width: 84px;

              span {
                padding: 5px;
                top: 0;
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            .recomend-arow {
              left: -11px;
              top: -8px;
              position: relative;
            }
          }

          p {
            position: relative;
            left: -55px;
            top: 19px;
          }
        }
      }

      .bottom-sec {
        .camping-jang {
          color: $white;

          span {
            top: 4px;
            right: -82px;
          }

          s {
            position: relative;
            top: 10px;
            left: -67px;
          }

          p {
            position: relative;
            left: -55px;
            top: 19px;
          }

          .camping-name {
          }

          top: 178px;
          height: 72px;
          background: rgba(0, 0, 0, 0.6);
          position: relative;
        }

        display: inline-block;
        background-size: 100% 100%;
        width: 280px;
        height: 250px;
        background-image: url("public/assets/image/mainpageslider2.png");
      }

      .bottom-thi {
        .camping-jang {
          color: $white;

          span {
            top: 4px;
            right: -82px;
          }

          s {
            position: relative;
            top: 10px;
            left: -67px;
          }

          p {
            position: relative;
            left: -55px;
            top: 19px;
          }

          top: 178px;
          height: 72px;
          background: rgba(0, 0, 0, 0.6);
          position: relative;
        }

        display: inline-block;
        background-size: 100% 100%;
        width: 280px;
        height: 250px;
        background-image: url("public/assets/image/mainpageslider3.png");
      }

      .bottom-for {
        //position: relative;

        .camping-jang {
          color: $white;

          span {
            top: 4px;
            right: -82px;
          }

          s {
            position: relative;
            top: 10px;
            left: -67px;
          }

          p {
            position: relative;
            left: -55px;
            top: 19px;
          }

          .camping-name {
          }

          top: 178px;
          height: 72px;
          background: rgba(0, 0, 0, 0.6);
          position: relative;
        }

        display: inline-block;
        background-size: 100% 100%;
        width: 280px;
        height: 250px;
        background-image: url("public/assets/image/mainpageslider4.png");
      }
    }
  }
}
