// myPage
.myPage {
  margin: 0 auto;
  max-width: 774px;
  width: 100%;
  height: 100%;

  .myProfile {
    margin-block: 10px;
    position: relative;
    width: 774px;
    height: 266px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.13);

    .backgroundPicture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70%;
      object-fit: cover;
      margin: auto;
    }

    .profilePicture {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      border-radius: 70%;
      width: 125px;
      height: 125px;
      margin-top: 100px;
      margin-left: 60px;
    }

    .profileIntroduce {
      display: grid;
      padding-top: 190px;
      padding-left: 200px;

      .temperature {
        font-size: 12px;

        svg {
          margin-left: -2px;
        }
      }

      .nickName {
        font-weight: bold;
        font-size: 26px;
      }

      .introduce {
        color: #4c4c4c;
        font-size: 14px;
        display: flex;
        justify-content: space-between;

        .profileEdit {
          background-color: transparent;
          border: 1.2px solid #4c4c4c;
          max-width: none;
          min-width: 90px;
          height: 22px;
          border-radius: 15px;
          margin-right: 10px;
          margin-top: -4px;
          font-weight: 440;

          svg {
            height: 10px;

            path {
              border: 5px solid #4c4c4c;
            }
          }

          span {
            color: #4c4c4c;
            font-size: 11px;
          }
        }
      }
    }
  }

  .myContents {
    display: flex;

    .tapBar {
      .custom-button {
        background-color: #f5f5f5;
        border: hidden;
        border-radius: 0;

        a {
          color: #000000;
        }
      }

      :hover {
        background-color: #2f2e2c;

        a {
          color: #ffffff;
        }
      }
    }

    .content-area {
      background-color: #f5f5f5;
      width: 650px;

      .profile {
        display: none;
      }

      .detail {
        display: none;
      }

      .news-menu {
        display: none;
      }

      .news-ul {
        margin: 0 0;
        max-width: none;
        padding-bottom: 25px;
        padding-inline: 0;

        .news-ul-li {
          width: 279px;
          height: 244px;
          margin: 5px;
          padding: 0;

          .news-ul-li-wrap {
            width: 279px;
            height: 244px;

            .news-ul-li-wrap-write {
              width: inherit;
              height: inherit;

              img {
                width: inherit;
                height: inherit;
              }
            }
          }
        }
      }

      .updateProfile {
        width: 633px;
        justify-content: center;
        margin: 10px 0 30px 0;
        padding: 0 80px;

        .inputBox {
          display: flex;
          border-bottom: 1px solid;
          margin-inline: auto;
          width: auto;
          height: 50px;
        }

        span {
          min-width: 100px;
          align-self: center;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          border-right: 1px solid #2f2e2c;
        }

        .profilePictureBox {
          display: flex;
          margin-inline: auto;
          width: auto;
          height: 50px;

          span {
            border: none;
          }
        }

        .custom-input {
          border: transparent;
          background-color: transparent;
          width: 500px;
          margin: 0;
          outline: none;
        }

        .buttonBox {
          display: flex;
          justify-content: center;
          margin-top: 20px;

          .custom-button {
            margin-inline: 5px;
            border-radius: 6px;
            width: 100px;
            height: 30px;
            font-size: 16px;
            font-style: normal;
          }

          .save {
            background-color: #fa6c1a;

            a {
              margin-bottom: 2px;
              color: #ffffff;
            }

            svg {
              margin-left: 5px;
            }
          }
        }
      }

      .myReview {
        position: relative;
        width: 100%;
        padding: 10px 20px 20px 0;

        .reviewItem {
          display: flex;
          padding: 15px;
          border: 1px solid #c1c1c1;
          border-radius: 10px;
          width: 100%;
          //height: auto;

          .itemImg {
            top: 0;
            left: 0;
            width: auto;
            height: 100px;
            border-radius: 10px;
            object-fit: cover;
          }

          .itemBox {
            width: 100%;
            margin-left: 20px;

            .itemTitle {
              font-size: 16px;
              font-weight: 500;
            }

            .itemOption {
              padding-top: 8px;
              font-size: 12px;
            }

            .itemGrade {
              padding-top: 8px;
              display: inline-flex;
            }

            .itemComments {
              padding-top: 5px;
              font-size: 14px;
            }
          }

          .itemBuyDate {
            font-size: 10px;
            position: absolute;
            top: 20px;
            right: 35px;
          }
        }
      }
    }
  }
}
