.popup-manager {
  .black {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: black;
  }

  .modal {
    position: absolute;
    z-index: 1;

    //글쓰기 내용
    &-inner {
      @include center();
      position: fixed;
      max-width: 80%;
      background-color: #ffffff;
      box-shadow: 0 4px 6px;
      width: 600px;
      height: 500px;

      //취소 저장 올리기 버튼
      .save-btn {
        background-color: white;
        padding: 15px;
        position: relative;
        bottom: 48px;

        .custom-button {
          padding-left: 10px;
          border: none;
          display: initial;
          min-width: 50px;
          height: 50px;

          .cancel {
            color: #000000;
          }

          .save {
            color: #000000;
          }

          .upLoad {
            color: #F32626;

          }
        }
      }

      //팝업내용 감싸기
      &-wrap {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        //글쓰기 팝업 내용
        .content {
          display: flex;
          flex-direction: column;


          .file {
            padding: 15px;
          }

          //프로필 부분
          &-profile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 7px 15px;

            &-wrap {
              display: flex;
              align-items: center;

              img {
                border-radius: 70%;
                width: 50px;
                height: 47px;
                box-shadow: none;
                object-fit: cover;
              }

              span {
                padding-left: 10px;
              }
            }

            &-public {
              span {
                padding-left: 10px;
              }

            }
          }

          //내용입력 부분
          &-content {
            position: relative;
            border-bottom: 1px solid #696969;
            padding: 7px 15px;

            .custom-input {
              border: none;
              border-radius: 0px;
              padding: 0 20px;
              width: 100%;
              height: 184px;
              max-width: none;
              min-width: 0;
              color: #000000;
            }

            //글자수
            .count {
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }

          //위치태그
          &-position {
            border-bottom: 1px solid #696969;

            &-wrap {
              display: flex;
              padding: 15px;
              font-size: 18px;

              .title {
                flex: 1 0 0;
              }
            }
          }

          //인원수
          &-person {


            &-wrap {
              padding: 15px;

              span {
                font-size: 18px;
              }
            }
          }

          //태그입력
          &-tag {
            &-div {
              border-bottom: 1px solid #696969;
              padding: 2px 15px;
              font-size: 18px;
            }

            &-wrap {
              padding: 7px 15px;

              .custom-input {
                border: none;
                border-radius: 0px;
                padding: 0 20px;
                width: 100%;
                height: 184px;
                max-width: none;
                min-width: 0;
                color: #000000;
              }
            }
          }
        }

      }

      &-wrap::-webkit-scrollbar {
        display: none;
      }
    }

    //게시물 상세
    &-detail {
      z-index: 1;
      @include center;
      position: fixed;
      max-width: 80%;
      //box-shadow: 0 4px 6px;
      width: 600px;
      height: 500px;

      &-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        .container {
          position: fixed;
          right: 6px;
          top: 5px;

          &-trigger {
            display: none;

            &-label {
              width: 7px;
              display: block;
              position: relative;
              cursor: pointer;

              span {
                display: block;
                height: 7px;
                background-color: #606060;
                left: 0;
                width: 100%;
                transition: 0.3s;
                z-index: 1000;
                margin: 2px 0;
                border-radius: 70%;
              }
            }
          }
        }

        .pop {
          width: 80px;
          height: 100px;
          background-color: white;
          border-radius: 8px;
          position: fixed;
          top: 5px;
          right: 20px;
          transition: 0.3s;

          ul {
            font-size: 14px;
            height: 100px;
            list-style: none;
            padding: 0;
            display: grid;
            align-items: center;
            justify-items: center;


            li {
              width: 100%;
              text-align: center;
              cursor: pointer;

              i {
                color: $red;
              }

              &:hover {
                background-color: #dedede;
              }
            }
          }
        }

        .content {
          background-color: white;

          &-image {
            img {
              width: 100%;
            }
          }

          &-wrap {
            display: flex;


            &-profile {
              display: flex;
              flex: 1 0 0;
              padding: 10px;
              align-items: center;

              img {
                @include profile();
              }

              &-info {
                padding: 0 10px;

                .follow {
                  display: flex;
                  align-items: center;

                  span {
                    font-size: 20px;
                    font-weight: bold;
                    padding-right: 10px;
                  }

                  .custom-button {
                    min-width: 0;
                    height: 0;
                    border: none;
                    border-radius: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: white;

                    .follow_btn {
                      margin: 0;
                      padding: 2px 12px;
                      background-color: white;
                      border: 1px solid #FA6C1A;
                      font-size: 10px;
                      font-weight: bold;
                      border-radius: 15px;
                      cursor: pointer;
                      color: #000000;
                    }
                  }
                }

                &-intro {
                  font-size: 14px;
                }

                &-tag {
                  margin: 15px 0 0 0;
                  font-size: 12px;
                  color: #0093E7;
                }
              }
            }

            &-emotion {
              display: flex;
              margin: 6px;
              align-items: flex-start;

              &-like {
                display: grid;
                justify-items: center;
                padding: 3px 7px 0 0;

                span {

                  i {
                    font-size: 21px;
                    color: #F32626;
                    cursor: pointer;
                  }

                  font-size: 12px;
                  font-weight: bold;
                }
              }

              &-book {

                i {
                  cursor: pointer;
                  font-size: 21px;
                  padding: 7px;
                  color: #4A5568;
                }
              }
            }
          }

          //선
          &-line {
            display: flex;
            margin: 0 14px;
            border-bottom: 1px solid #CCCCCC;
            justify-content: flex-end;

            &-wrap {
              font-size: 13px;
              color: #818181;

              span {
                padding-left: 17px;
              }
            }
          }

          //댓글 입력해주세요
          &-enterComment {
            margin: 20px 0;
            padding: 15px 15px;
            background-color: #EEEEEE;
            display: flex;

            .custom-input {
              flex: 1 0 0;
              border-bottom: 1px solid #818181;
              border-right: none;
              border-left: none;
              border-top: none;
              border-radius: 0;
              padding: 0 10px;
              max-width: none;
              min-width: 100px;
              height: 30px;
              margin-bottom: 0;
              background-color: #EEEEEE;
              color: #000000;

              .comment {

              }
            }

            span {
              margin-left: 20px;

              i {
                position: relative;
                font-size: 25px;
                color: #818181;
                top: 6px;
              }
            }


          }

          //댓글들
          &-comments {
            display: flex;
            align-items: center;
            padding: 10px 0;
            margin: 0 11px;
            border-bottom: 1px solid #EEEEEE;
            //댓글프로필이미지
            img {
              width: 65px;
              height: 65px;
              object-fit: cover;
              border-radius: 70%;
              margin-right: 10px;
            }

            //유저 이름 멘트
            &-user {
              display: grid;
              padding: 5px 10px;
              flex: 1 0 0;

              span {
                margin-bottom: 10px;
                font-weight: 700;
              }
            }

            //남긴시간 대댓글, 신고 버튼
            &-option {
              span {
                color: #818181;
                margin: 0 10px;

                i {
                  font-size: 20px;
                }
              }

              .date {
                font-size: 12px;
                padding: 0 10px;
              }

              .report {
                color: #B70000;
              }
            }

          }
        }
      }

      &-content::-webkit-scrollbar {
        display: none;
      }

      .right {
        cursor: pointer;
        color: white;
        position: relative;
        top: 50%;
        left: 830px;
        font-size: 20px;
      }

      .left {
        cursor: pointer;
        color: white;
        position: relative;
        top: 50%;
        right: 240px;
        font-size: 20px;
      }
    }

    &-report {
      @include center();
      position: fixed;
      max-width: 80%;
      background-color: #ffffff;
      box-shadow: 0 4px 6px;
      width: 600px;
      height: 500px;
    }
  }

}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}