@media (min-width: 768px) {
  .profile {

    &-wrap {
      display: flex;
      padding: 11px;
      align-items: center;

      img {
        @include profile();
      }

      &-data {
        padding: 0 0 0 15px;
        width: 221px;

        span {
          margin-right: 5px;
          font-size: 20px;
        }

        .middle-dot {
          position: relative;
          top: 3px;
        }

        .follow {
          position: relative;
          bottom: 2px;
          font-size: 4px;
          background: none;
          padding: 2px 10px;
          border: 2px solid #FA6C1A;
          border-radius: 19px;
          cursor: pointer;
          font-weight: 700;
        }

        p {
          i {
            font-size: 13px;
          }

          position: relative;
          top: 4px;
          color: #636363;
          background-color: rgba(204, 204, 204, 0.3);
          font-size: 13px;
          padding: 3px;
          border-radius: 4px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .profile {

    &-wrap {
      display: flex;
      padding: 11px;
      align-items: center;

      img {
        @include profile();
      }

      &-data {
        padding: 0 15px;
        width: 221px;

        span {
          margin-right: 5px;
          font-size: 20px;
        }

        .middle-dot {
          position: relative;
          top: 3px;
        }

        .follow {
          position: relative;
          bottom: 2px;
          font-size: 4px;
          background: none;
          padding: 2px 10px;
          border: 2px solid #FA6C1A;
          border-radius: 19px;
          cursor: pointer;
          font-weight: 700;
        }

        p {
          i {
            font-size: 13px;
          }

          position: relative;
          top: 4px;
          color: #636363;
          background-color: rgba(204, 204, 204, 0.3);
          font-size: 13px;
          padding: 3px;
          border-radius: 4px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .profile {

    &-wrap {
      display: flex;
      padding: 11px;
      align-items: center;

      img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        box-shadow: none;
        object-fit: cover;
      }

      &-data {
        padding: 0 5px;
        width: 140px;

        span {
          margin-right: 5px;
          font-size: 10px;
        }

        .middle-dot {
          position: relative;
          top: 3px;
        }

        .follow {
          position: relative;
          bottom: 2px;
          font-size: 4px;
          background: none;
          padding: 2px 10px;
          border: 2px solid #FA6C1A;
          border-radius: 19px;
          cursor: pointer;
          font-weight: 700;
        }

        p {
          i {
            font-size: 8px;
          }

          position: relative;
          top: 4px;
          color: #636363;
          background-color: rgba(204, 204, 204, 0.3);
          font-size: 8px;
          padding: 3px;
          border-radius: 4px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}